.link {
  padding: 5px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.link--footer {
  color: #bbb;
  font-size: 12px;
}