.link {
  padding: 5px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

.link--footer {
  padding-left: 0;
  color: var(--gray-100);
  font-size: 12px;
}