.container {
  margin: 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: var(--spacing-xl);
}

.filter {
  padding: var(--spacing-lg);
  padding-top: var(--spacing-2xl);
  max-width: 360px;
  height: fit-content;
  background-color: var(--filter-box);
}

.filter__tag {
  display: flex;
}

.empty {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  color: var(--black);
}