.input {
  box-sizing: border-box;
  color: var(--black);
  font-size: 18px;
  padding: 10px;
}

.label {
  margin: auto 0;
  font-weight: 500;
  text-align: right;
}

.label::after {
  content: ':';
}