.btn {
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn--large {
  padding: 12px 222px;
}

.btn--medium {
  padding: 12px 48px;
}

.btn--small {
  padding: 12px 33px;
}

.btn--dark {
  color: var(--white);
  background-color: var(--black);
}

.btn--warning {
  color: var(--black);
  background-color: var(--yellow-400);
}