.nav {
  padding: 14px 95px;
  max-width: 1440px;
  background-color: rgba(25, 23, 32, 0.5);
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 0 56px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.icon {
  padding: 0px 23px;
}