.tag {
  margin: var(--spacing-sm) 0;
  margin-right: var(--spacing-sm);
  display: flex;
  align-items: center;
  background-color: var(--gray);
  width: fit-content;
}

.tag__content {
  padding: var(--spacing-sm);
}

.tag__btn {
  padding: var(--spacing-sm);
  color: var(--white);
  background: var(--black);
  border: none;
  cursor: pointer;
}
