.tag {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  width: fit-content;
}

.tag__label {
  padding: 5px;
}

.tag__btn {
  padding: 5px;
  color: var(--white);
  background: var(--black);
  border: none;
  cursor: pointer;
}
