.tag {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  width: fit-content;
}

.tag-btn {
  color: var(--white);
  background: var(--black);
  border: none;
  cursor: pointer;
}
