.container {
  display: flex;
  max-width: 1440px;
  background: var(--neutral-700);
  position: relative;
}

.product_image {
  z-index: var(--image);
  position: absolute;
}

.content {
  margin-left: auto;
  max-width: 440px;
  padding: 175px 135px 191px 0;
}

.inline {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
  gap: 34px;
}