.container {
  max-width: 1440px;
  background-color: #2b2835;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.footer__col {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__logo {
  margin: 20px auto;
}

.footer__title {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
}

.footer__link {
  display: block;
  color: #bbb;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__line {
  color: #fff;
  font-size: 12px;
  grid-column: 1/6;
  text-align: center;
  opacity: 0.3;
}