.card {
  box-sizing: border-box;
  max-width: 390px;
  padding: 0 50px;
  padding-bottom: 30px;
  background-color: #f8f8f9;
}

.card__title {
  font-size: 40px;
}

.card__price {
  font-size: 25px;
  color: #9d8220;
}