:root {
  --black: #000;
  --white: #fff;
  --yellow-400: #ffc700;
  --yellow-700: #9d8220;
  --gray-50: #f8f8f8;
  --gray-100: #bbb;
  --gray-200: #bfbfbf;
  --neutral-700: #2b2835;
  --neutral-800: #030303;
  --neutral-900: #19172080;
}